body{
    background-color:#FFCBA4;
    color:coral;
    overflow-x: hidden;
}

li{
    float: left;
    list-style-type: none;
    padding: 2rem;
    font-size: 180%;
    
    
}
#navbar{
    background-color:#FFCBA4;
    overflow: hidden;
    height:fit-content;
    position: fixed;
    top: 0px;
    
}
#images>img{
    height: 30%;
    width: 30%;
    margin-top: 10%;
    float: left;
    padding-left: 5%;

}
a{
    color: coral;
    text-decoration:none ;
}
a:hover{
    background-color: cornsilk;
}
#welcomes{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(171,61,61,1) 31.1%, rgba(233,233,233,1) 100.2% ); 
    

    position: absolute;
    
    height: 40%;
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 1.5rem;
    padding-top: 2rem;
    
    
    


}

    #navbar2{
    background-color: #BD9F92;
    position: absolute ;
    
    top: 80%;
    width: 100%;
    height: 50%;
    font-size: 15px;
    text-align: center;
    }
    




h3{
    font-size: 20px;
    font-weight: bolder;
}
h5{
    text-indent: 2.2rem;
    font-weight: bolder;
}

#search{
    position: absolute;
    top:20%;
    right: 20%;
}
#searchBar{
    position: absolute;
    right: 15%;
    top: 15%;
    
}
#navbar3{
    position: fixed;
    bottom: 0%;
    background-color:cornsilk;
    right: 0%;

}
img{
    height: 2.5em;
}
#feedback{
    background-color:cornsilk ;
    height: 25%;
    width: 14%;
    position: absolute;
    left: 10%;
    top: 150%;
    
}